@import url("https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Nunito&family=Satisfy&display=swap");

svg {
  color: palegoldenrod;
}

.round {
  border: 2px solid #7633f9;
  border-radius: 20%;
  background-color: white;
  padding: 50px;
}

.round:hover {
  background-color: lightgray;
  cursor: pointer;
}

.main-image {
  position: relative;
  background: url(https://www.petfinder.com/sites/default/files/styles/hero_image_1140_410/public/images/content/1140%20hero%20image_0.jpg?itok=wryBzVcI)
    no-repeat center;
  background-size: cover;
  background-color: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 100%
  );

  height: 400px;
}

p.pet-img-text {
  font-size: 50px;
  text-align: center;
  color: white;
  font-family: "Cherry Bomb One", cursive;
  background-color: rgba(55, 55, 55, 0.379);
  border-radius: 20px;
}
